.cart__item {
    min-height: 133px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f4f4f4;
}
.cart__props {
    margin-left: 20px;
    h4 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    span {
        font-size: 18px;
        color: #8d8d8d;
    }
    .cart__color {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin: 0 15px 0 10px;
        &.color-1 {
            background-color: #764131;
        }
        &.color-2 {
            background-color: #404040;
        }
        &.color-3 {
            background-color: #c4c4c4;
        }
    }
    .cart__size {
        font-size: 18px;
        margin-left: 5px;
    }
}
.cart__qty,
.cart__propsInner,
.cart__qtyInner,
.cart__itemInner {
    display: flex;
    align-items: center;
}
.cart__qty {
    justify-content: space-between;
    max-width: 390px;
    width: 100%;
    .cart__qtyInner {
        display: flex;
        .cart__qtyBtn {
            font-size: 22px;
            text-align: center;
            width: 35px;
            cursor: pointer;
        }
    }
}
.cart__price {
    font-size: 22px;
}
.cart__basket {
    cursor: pointer;
}
