.header {
    background-color: rgba(24, 24, 19, 0.7);
    box-shadow: rgba(0, 0, 0, 0.25);
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        span {
            font-weight: 500;
            color: #ffff;
            margin-right: 10px;
            margin-left: auto;
        }
        i {
            font-weight: 500;
            color: #ffb338;
        }
    }
}
